* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope';
    font-style: normal;
}

.flex {
    display: flex;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.justify-between {
    justify-content: space-between;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}
.right-section {
    display: flex;
    align-items: center;
}
.right-section ul {
    list-style: none;
    display: flex;
}
.road-assistance {
    display: flex;
    padding-left: 20px;
}
.right-section ul li {
    margin-right: 20px;
}
.right-section ul li a {
    text-decoration: none;
    color: #000;
}
.right-section .navigation {
    border-right: 2px solid #ccc;
}
.road-assistance .icon {
    margin-right: 10px;
}
.flex {
    display: flex;
}

#hero-section .text-section{
    width: 45%;
}

#hero-section .image-section {
    width: 55%;
}

#hero-section, #quote-section {
    padding: 80px 0;
}

#hero-section .image-section {
    background-image: url(./header-image.png);
    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 44px;
}

.orange-btn {
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    color: #fff;
}

.time-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-section .image-box {
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section .time-text {
    width: 95%;
}

.time-section img {
    width: 100%;
}

#page-body{
    background: linear-gradient( 115deg, rgba(224, 255, 255, 0.9), rgba(136, 136, 206, 0.7) ), url();
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: blue;
}
#page-header{
    text-align: center;
    padding: 25px 0 20px 0;
}
#form-container {
    width: 30%;
    margin: 0 auto;
    background-color: rgb(206, 206, 206);
    padding: 30px;
    border-radius: 20px;
    padding-left: 20px;

}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea, button {
    width: 80%;
    margin-top: 5px;
    border-radius: 30px;    
}


input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="gender"], select, textarea {
    padding: 6px 12px;
    border: 1px solid grey;
    
}
.input-box {
    margin-bottom: 5px; 
    margin-left: 15%;
}

label {
    font-size: 18px
}

button {
    padding: 6px;
    background-color: rgb(48, 48, 233);
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    width:25%
}

.input-box button:hover {
    color: white;
    background-color: black;
}

@media (max-width: 426px) {
    .main-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .right-section {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        display: none;
    }

    .right-section .navigation ul {
        flex-direction: column;

    }

    .right-section .navigation {
        border: none;
        width: 100%;
    }

    .right-section ul li {
        padding: 10px 0;
        margin-right: 0;
    }

    .right-section ul li a {
        display: block;
    }

    .road-assistance {
        padding: 10px 0;
    }

    .flex-sm-column {
        flex-direction: column;
    }
    #hero-section .text-section, #hero-section .image-section {
        width: 100%;
    }

    #hero-section .text-section {
        order: 2;
    }

    #hero-section .image-section {
        order: 1;
    }

    .text-section h1 {
        font-size: 25px;
    }
    .quote-flex {
        flex-direction: column;
    }

    #quote-section .left-section, #quote-section .right-form-section {
        width: 100%;
    }

    #quote-section .left-section .image-box {
        width: 100%;
    }

    #quote-section .left-section .text-box {
        width: 100%;
    }

    #quote-section .left-section h2, #quote-section .right-form-section h3 {
        font-size: 35px;
    }

    #quote-section .left-section {
        margin-bottom: 40px;
    }

    #form-container {
        width: 80%;
        margin: 0 auto;
        background-color: rgb(206, 206, 206);
        padding: 30px;
        border-radius: 20px;
        padding-left: 20px;
    }

    #page-body{
        min-height: 80vh;
        
    }

}
